<app-search-input (searchQueryEvent)="updateSearchQuery($event)"></app-search-input>

<div class="row">

    <div class="col-lg-12 col-sm-12 mb-3" *ngFor="let purchase of purchases | searchPurchase: searchQuery">
        <div class="card pointer" (click)="openPurchaseModal(purchase)">

            <div class="card-header">
                {{ purchase.title }}
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <p>
                            Comprado:
                            <span class="float-right">{{ purchase.cCurrencyQuantity }} {{ purchase.cCurrency }}</span>
                        </p>
                        <p>
                            Precio:
                            <span class="float-right">
                                {{ purchase.price }} €
                            </span>
                        </p>
                        <p>
                            Euros invertidos:
                            <span class="float-right">
                                {{ purchase.money }} €
                            </span>
                        </p>
                        <p>
                            Comisión:
                            <span class="float-right">
                                {{ purchase.fee }} €
                            </span>
                        </p>
                        <p>
                            Beneficio:
                            <span class="float-right">
                                {{ calculateProfit(purchase) }} €
                            </span>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>