<div class="card no-rounded">
    <div class="card-body">
        <button class="btn btn-primary btn-block mb-3" (click)="enableConf()">
            Configurar
            <i class="fas fa-sliders-h ml-2"></i>
        </button>

        <div class="mb-4" *ngIf="confEnabled">

            <select class="form-control rounded" name="areaId" #currency="ngModel" (ngModelChange)="addCurrency($event)" [(ngModel)]="sCryptoCurrency">
                <option [value]="currency.id" *ngFor="let currency of cCurrencies" [selected]="currency.id == sCryptoCurrency">
                    {{ currency.id }}
                </option>
            </select>

            <p class="text-right">
                <small>
                    Añadir criptomoneda
                </small>
            </p>
            
        </div>
        
        <div class="d-flex justify-content-between" *ngFor="let currency of cCurrencies">
            <p>{{ currency.name }}</p>
            <p class="font-weight-bold text-sm">{{ currency.id }}</p>
        </div>
    </div>
</div>